/* ## FONT FAMILIES ## - Remove or comment the fonts you don't use*/

/* Sue Ellen Francisco */
@font-face {
  font-family: 'DroidSans';
  src: url('../fonts/other/DroidSans.ttf');
  src: url('../fonts/other/DroidSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}